#dashboard ul
{
    list-style: none;
}
#currentlist
{
    float:left;
    background-color:   rgba(255,255,255,0.5);
    width:              70%;
    height:             50%;
    overflow-y:         auto;
    margin:             0;
}

#listcontrols
{
    float:left;
    margin-left:40px;
    padding:0;
}

#listcontrols button
{
    margin:0;
}


#userlists
{
    float: left;
    background-color:   rgba(255,255,255,0.5);
    width: 30%;
    height: 50%;
    overflow-y: auto;
    font-size: 0.5em;
}
#currentlist input
{
    margin:0;
    width: 100%;
}
#currentlist li
{
    background-color:   rgba(255,255,255,0.5);
    padding-left:       24px;
    margin-top:         12px;
}

#currentlist li:nth-child(1),
#userlists  li:nth-child(1)
{
    background:none;
    padding: 12px;
}

.listitemcontrols
{;
    margin-right:  24px;
    padding:        0px;
}

.listitemcontrols button
{
    padding:6px;
}

#listnotes
{
    margin: 0px;
    width:  95%;
    height: 25%;
}
