html
{
    background: url("../images/wallpaper.jpg");
    height: 100%;
}

body
{
	height: 100%;
}

p,ul,ol
{
    list-style: none;
}

h4,h5,h6
{
    text-align: center;
    background-color: rgba(255,255,255,0.25);
    font-weight: bold;
    margin: 0px;
    padding: 4px;
}
.container > div
{
  height: 90%;
}

.linktab
{
		cursor: pointer;
}

.linktab:hover
{
  background-color: rgba(255,255,255,0.5)
}

.linklist
{
  display: none;
  max-height: 80%;
}

#content
{
  height: 75%;
}

#titles
{
  overflow-y: scroll;
}
#titles,#reader
{
  height: 100%;
  background-color: rgba(255,255,255,0.25);
  border: none;
}

#footer,#header
{
  background-color: rgba(255,255,255,0.5);
}

li,ul
{
  margin: 0px;
}
button
{
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  margin: 0px;
  height: 50px;
  padding: 0px;
  font-size: 1em;
}

#search
{
  width: 70%;
  height: 12%;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.9;
  margin: 0px;
}

#search:hover
{
  opacity: 1;
}

#readermode
{
  position: fixed;
  width: 30%;
  height: 12%;
  bottom:0px;
  left: 0px;
  opacity: 0.9;
}

#directurl:hover
{
  opacity: 1;
}
