html
{
    background: url("../images/wallpaper.jpg");
    height: 100%;
}

body
{
	height: 100%;
}

p,ul,ol
{
    list-style: none;
}

h4,h5,h6
{
    text-align: center;
    background-color: rgba(255,255,255,0.25);
    font-weight: bold;
    margin: 0px;
    padding: 4px;
}
.container > div
{
  height: 90%;
}

.linktab
{
		cursor: pointer;
}

.linktab:hover
{
  background-color: rgba(255,255,255,0.5)
}

.linklist
{
  display: none;
  overflow-y: scroll;
  max-height: 90%;
}

#content
{
  height: 80.1%;
}
#titles,#reader
{
  height: 100%;
  background-color: rgba(255,255,255,0.25);
  border: none;
}

#footer,#header
{
  background-color: rgba(255,255,255,0.5);
}

li
{
  margin: 0px;
}
button
{
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  margin: 0px;
  height: 50px;
  padding: 0px;
  font-size: 1em;
}
